backup:
  targetSsh:
    host: backupnas
    user: user
    password: "Geheim123!"
    path: /shared/Sicherungen

plex:
  claim: claim-1234567890

deconz:
  vncEnabled: "1"

redis:
  password: "Geheim123!"

n8n:
  enabled: true
  # see https://github.com/8gears/n8n-helm-chart/blob/main/charts/n8n/values.yaml
  main:
    config:
      n8n:
        encryption_key: "Geheim123!"
